html, body {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: #ccc;
    font-size: 18px;
}
table {
    margin: 0;
    padding: 0;
    border: 0;
    clear:left;
}
td {
    vertical-align: top;
}

select {
    font-size: 18px;
    width: 188px;
}

input {
    font-size: 18px;
    margin-bottom: 10px;
    width: 180px;
}

#room {
    width: 150px;
    margin-left: 30px;
    display: block;
    background: rgba(0,0,0,0);
    border: 0;
}