html, body {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: #ccc;
    font-size: 18px;
}
.dark {
    background: #777;
}
table {
    margin: 0;
    padding: 0;
    border: 0;
    clear:left;
}
td {
    vertical-align: top;
}

select {
    font-size: 18px;
    width: 188px;
}

input {
    font-size: 18px;
    margin-bottom: 10px;
    width: 180px;
}

#room {
    width: 150px;
    margin-left: 30px;
    display: block;
    background: rgba(0,0,0,0);
    border: 0;
}

.remoteCursor::before { /*other cursors*/
    animation: blink-animation 2s infinite;
    -webkit-animation: blink-animation 2s infinite;
    content:"|";
    position:absolute;
    margin-left: -4px;
    margin-top: -1px;
    font-size: 1.2em;
	color: blue !important;
    opacity: 0.9;
	font-weight: bold;
	font-style: oblique;
    z-index: -50;
}
@keyframes blink-animation {
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 0.4;
  }
}